@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

html {
  --sidebar-width: 256px;
  --headerButtons-hover-color: #e8e9ed;
  --searchForm-buttons-hover-color: #dee3eb;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

input[type="text"] {
  background-color: transparent;
  outline: none;
  border: none;
}

.App {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #f7f8fc;
}

.header {
  box-sizing: border-box;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  box-sizing: border-box;
}

.header .leftContainer {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  max-width: var(--sidebar-width);
}

.menuSvgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin: 0 4px;
}

.menuSvgContainer:hover {
  background-color: var(--headerButtons-hover-color);
  border-radius: 50%;
  cursor: pointer;
}

.gmailLogo {
  height: 44px;
}

.gmailLogo:hover {
  cursor: pointer;
}

.searchContainer {
  background-color: rgb(234, 241, 251);
  height: 100%;
  max-width: 722px;
  border-radius: 8px;
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0 5px;
  margin-right: 10px;
  box-sizing: border-box;
  transition: background-color 100ms, box-shadow 100ms;
}

.searchContainer.focused {
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(65,69,73,.3),0 1px 3px 1px rgba(65,69,73,.15);
}

.searchForm {
  height: 100%;
  flex: 1;
}

.headerButton {
  height: 47px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profilePictureButton {
  height: 47px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profilePictureButton:hover .profilePictureContainer {
  background-color: var(--headerButtons-hover-color);
  border-radius: 50%;
  cursor: pointer;
}

.headerButton:hover {
  cursor: pointer;
}

.headerButton:hover .headerIcon {
  background-color: var(--headerButtons-hover-color);
  border-radius: 50%;;
}

.headerButton.dark:hover .headerIcon {
  background-color: var(--searchForm-buttons-hover-color);
}

.headerIcon {
  margin: 3px;
  padding: 8px;
}

.searchForm {
  display: flex;
}

.searchInputContainer {
  display: flex;
  align-items: center;
  padding-top: 3px;
  width: 100%;
}

.searchInput::placeholder {
  font-size: 16px;
  color: #5e5e5e;
  opacity: 1;
}

.searchInput {
  font-size: 16px;
  width: 100%;
}

.headerButton.delete {
  visibility: visible;
}

.headerButton.delete.hide {
  visibility: hidden;
}

.rightContainer {
  display: flex;
}

.profilePictureContainer {
  height: 85%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: contain;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilePictureContainer:hover {
  background-color: var(--headerButtons-hover-color);
}

.profilePictureContainer img {
  max-height: 80%;
  border-radius: 50%;
}